<main>
  <h2 class="mb-4">会員情報編集</h2>

  <%= form_with model: @customer,url: information_edit_path do |f| %>

  <dl class="row">
    <dt class="col-2"><p>氏名</p></dt>
    <dd class="col-10"><%= f.text_field :last_name %> <%= f.text_field :first_name %></dd>

    <dt class="col-2"><p>フリガナ</p></dt>
    <dd class="col-10"><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></dd>

    <dt class="col-2"><p>郵便番号</p></dt>
    <dd class="col-10"><%= f.text_field :postal_code %></dd>

    <dt class="col-2"><p>住所</p></dt>
    <dd class="col-10"><%= f.text_field :address %></dd>

    <dt class="col-2"><p>電話番号</p></dt>
    <dd class="col-10"><%= f.text_field :telephone_number %></dd>

    <dt class="col-2"><p>メールアドレス</p></dt>
    <dd class="col-10"><%= f.text_field :email %></dd>
  </dl>
  <%= f.submit '編集内容を保存',class: "btn btn-success" %>

  <% end %>




  <%= link_to "退会する" , unsubscribe_path ,class: "btn btn-danger mt-4" %>

</main>
