<main>
  <h2>商品一覧</h2>

  <%=link_to new_admin_item_path do %>
  新規商品登録
  <% end %>

  <% @items.each do |item| %>
  <p>画像</p>
  <%#= image_tag item.get_image %>
  
  <p>商品ID</p>
  <%=item.id %>

  <p>商品名</p>
  <%=item.name %>

  <p>税抜価格</p>
  <%=item.price %>

  <p>販売ステータス</p>
  <%=item.is_active %>

  <% end %>

</main>


