<main>
  <h2>商品一覧</h2>

  <%=link_to new_admin_item_path do %>
  新規商品登録
  <% end %>

  <div class="d-flex justify-content-between w-100">
    <table class="table w-60">
      <thead>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ステータス</th>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <th><%=item.id %></th>

          <th>
            <%= link_to admin_item_path(item.id) do %>
            <%=item.name %>
            <% end %>
          </th>

          <th><%=item.price %></th>

          <th>
            <% if item.is_active==true %>
              販売中
            <% elsif item.is_active==false %>
              販売停止中
            <% end %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</main>


