<main>
  <h2 class="mb-4">商品詳細</h2>
  <div class="mb-4">
  <%= image_tag @item.get_profile_image(200,200) %>
  </div>

    <dl class="row">
      <dt class="col-2"><P>商品名</P></dt>
      <dd class="col-10"><%= @item.name %></dd>

      <dt class="col-2"><P>商品説明</P></dt>
      <dd class="col-10"><%= @item.introduction %></dd>

      <dt class="col-2"><P>税込価格(税抜価格)</P></dt>
      <dd class="col-10"><%= (@item.price * 1.1).floor %>(<%= @item.price %>)円</dd>

      <dt class="col-2"><P>販売ステータス</P></dt>
      <dd class="col-10">
        <% if @item.is_active==true %>
          販売中
        <% elsif @item.is_active==false %>
          販売停止中
        <% end %>
      </dd>
    </dl>

  <div>
  <%= link_to "編集する", edit_admin_item_path(@item),class: "btn btn-success" %>
  </div>
</main>
