<main>
  <h2>商品詳細</h2>

  <%= image_tag @item.get_image %>

  <P>商品名<%= @item.name %></P>

  <p>商品説明<%= @item.introduction %></p>

  <p>税込価格(税抜価格)<%= @item.price %></p>

  <p>販売ステータス<%= @item.is_active %></p>

  <%= link_to "編集", edit_admin_item_path(@item) %>
</main>
