<main>
  <%= form_with model: @customer,url: admin_customer_path(@customer),method: :patch do |f| %>

    <h2 class="mb-4"><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h2>

    <dl class="row">
    <dt class="col-2"><p>氏名</p></dt>
    <dd class="col-10"><%= f.text_field :last_name %> <%= f.text_field :first_name %></dd>

    <dt class="col-2"><p>フリガナ</p></dt>
    <dd class="col-10"><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></dd>

    <dt class="col-2"><p>郵便番号</p></dt>
    <dd class="col-10"><%= f.text_field :postal_code %></dd>

    <dt class="col-2"><p>住所</p></dt>
    <dd class="col-10"><%= f.text_field :address %></dd>

    <dt class="col-2"><p>電話番号</p></dt>
    <dd class="col-10"><%= f.text_field :telephone_number %></dd>

    <dt class="col-2"><p>メールアドレス</p></dt>
    <dd class="col-10"><%= f.text_field :email %></dd>

  </dl>

  <p>会員ステータス</p>
  <p><%= f.radio_button :is_deleted, false %>有効</p>
  <p><%= f.radio_button :is_deleted, true %>退会</p>
  <%= f.submit '編集内容を保存',class: "btn btn-success" %>

  <% end %>


</main>
