<main>
  <%= form_with model: @customer,url: admin_customer_path(@customer),method: :patch do |f| %>

    <h2><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h2>

    <p>氏名<%= f.text_field :last_name %> <%= f.text_field :first_name %></p>
    <p>フリガナ<%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></p>
    <p>郵便番号<%= f.text_field :postal_code  %></p>
    <p>住所<%= f.text_field :address %></p>
    <p>電話番号<%= f.text_field :telephone_number %></p>
    <p>メールアドレス<%= f.text_field :email %></p>
    <p>会員ステータス</p>
    <%= f.radio_button :is_deleted, false %>
    <%= f.label :is_deleted_validity, "有効" %>

    <%= f.radio_button :is_deleted, true %>
    <%= f.label :is_deleted_withdrawal, "退会" %>

    <%= f.submit '編集内容を保存' %>

  <% end %>


</main>
