<main>
  <h2>会員一覧</h2>

  <% @customers.each do |customer| %>
  <p>画像</p>
  <%#= image_tag item.get_image %>

  <p>会員ID</p>
  <%=customer.id %>

  <p>氏名</p>
  <%=customer.last_name %><%=customer.first_name %>

  <p>メールアドレス</p>
  <%=customer.email %>

  <p>ステータス</p>
  <%=customer.is_deleted %>

  <% end %>



</main>
