<main>
  <h2 class="mb-4"><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h2>


  <dl class="row">
    <dt class="col-2"><p>会員ID</p></dt>
    <dd class="col-10"><%= @customer.id %></dd>

    <dt class="col-2"><p>氏名</p></dt>
    <dd class="col-10"><%= @customer.last_name + " " + @customer.first_name %></dd>

    <dt class="col-2"><p>フリガナ</p></dt>
    <dd class="col-10"><%= @customer.last_name_kana + " " + @customer.first_name_kana %></dd>

    <dt class="col-2"><p>郵便番号</p></dt>
    <dd class="col-10"><%= @customer.postal_code %></dd>

    <dt class="col-2"><p>住所</p></dt>
    <dd class="col-10"><%= @customer.address %></dd>

    <dt class="col-2"><p>電話番号</p></dt>
    <dd class="col-10"><%= @customer.telephone_number %></dd>

    <dt class="col-2"><p>メールアドレス</p></dt>
    <dd class="col-10"><%= @customer.email %></dd>

    <dt class="col-2"><p>会員ステータス</p></dt>
    <dd class="col-10">
      <% if @customer.is_deleted == false %>
        有効
      <% else @customer.is_deleted == true %>
        退会
      <% end %>
    </dd>
  </dl>


  <div><%= link_to "編集する", edit_admin_customer_path(@customer),class: "btn btn-success mb-4" %></div>

  <div><%= link_to "注文履歴一覧を見る", admin_root_path,class: "btn btn-primary" %></div>


</main>
