<main>
  <h2>注文履歴一覧</h2>

  <% @orders.each do |order| %>

  <p>購入日時</p>
  <%=order.created_at %>

  <p>購入者</p>
  <%= link_to admin_order_path(order) do %>
  <%=order.customer.last_name + order.customer.first_name %>
  <% end %>

  <p>注文個数</p>
  <% @total_quantitiy=0 %>
  <% order.order_details.each do |order_detail| %>
    <% @total_quantitiy=@total_quantitiy + order_detail.amount %>
  <% end %>
  <%= @total_quantitiy %>

  <p>注文ステータス</p>
  <%=order.status_i18n %>

  <% end %>
</main>