<main>
  <div class="container">
  <h2>配送先登録/一覧</h2>

  <%= form_with model: @address,url: addresses_path do |f| %>
   <p>郵便番号(ハイフンなし)</p>
   <%= f.text_field :postal_code %>

   <p>住所</p>
   <%= f.text_field :address %>

   <p>宛名</p>
   <%= f.text_field :name %>

   <%= f.submit "新規登録" ,class: "btn btn-success" %>

  <% end %>


  <div class="d-flex justify-content-between w-100 mt-5">
    <table class="table w-60 table table-bordered">
      <thead class="table-secondary">
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <th><%= address.postal_code %></th>
          <th><%= address.address %></th>
          <th><%= address.name %></th>
          <th>
            <%= link_to "編集する", edit_address_path(address) ,class: "btn btn-success" %>
            <%= link_to "削除する", address_path(address), method: :delete ,class: "btn btn-danger" %>
          </th>
        <% end %>
      </tbody>
    </table>
  </div>

  </div>


</main>
