<main>
  <h2 class="mb-4">ショッピングカート</h2>

  <%= link_to "カートを空にする", cart_items_path, method: :delete ,class: "btn btn-danger mb-4"%>


  <div class="d-flex justify-content-between w-100">
    <table class="table w-60 table-bordered">
      <thead class="table-secondary">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <th>
            <%= image_tag cart_item.item.get_profile_image(200,200) %>
            <%= cart_item.item.name %>
          </th>
          <th><%= (cart_item.item.price * 1.1).floor %></th>
          <th>
            <%= form_with model: cart_item do |f| %>
            <%=f.number_field :amount %>
            <%= f.submit "変更",class: "btn btn-success" %>
            <% end %>
          </th>
          <th><%= (cart_item.item.price * 1.1).floor*cart_item.amount %></th>
          <th>
            <% if cart_item.customer == current_customer %>
            <%= link_to "削除する", cart_item_path(cart_item), method: :delete ,class: "btn btn-danger" %>
            <% end %>
          </th>
        </tr>
        <% @total_price=@total_price + (cart_item.item.price * 1.1).floor*cart_item.amount %>
        <% end %>
      </tbody>
    </table>
  </div>

  <dl class="row">
    <dt class="col-2"><P>合計金額</P></dt>
    <dd class="col-10"><%= @total_price %></dd>
  </dl>

  <div><%= link_to "買い物を続ける", items_path ,class: "btn btn-primary mb-4" %></div>

  <div class="mx-auto"><%= link_to "情報入力に進む", new_order_path ,class: "btn btn-success" %></div>

</main>
