<main>
  <h2>注文情報確認</h2>

  <div class="d-flex justify-content-between w-100">
    <table class="table w-60 table-bordered">
      <thead class="table-secondary">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <th>
              <%= image_tag cart_item.item.get_profile_image(200,200) %>
              <%= cart_item.item.name %>
            </th>
            <th><%= (cart_item.item.price * 1.1).floor %></th>
            <th><%= cart_item.amount %></th>
            <th>
              <%= (cart_item.item.price * 1.1).floor*cart_item.amount %>
              <% @total_price=@total_price + (cart_item.item.price * 1.1).floor*cart_item.amount %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <table class="table w-20">
      <tbody>
        <tr>
          <th><p>送料</p></th>
          <th><p>800</p></th>
        </tr>

        <tr>
          <th>商品合計</th>
          <th><%= @total_price %></th>
        </tr>

        <tr>
          <th>請求金額</th>
          <th><%= @total_price + 800 %></th>
        </tr>
      </tbody>
    </table>


  <dl class="row">
    <dt class="col-2">支払方法</dt>
    <dd class="col-10"><%= @order.payment_method_i18n %></dd>
    <dt class="col-2">お届け先</dt>
    <dd class="col-10">
      <%= @order.address %>
      <%= @order.postal_code %>
      <%= @order.name %>
    </dd>
  </dl>


  <%= form_with model: @order do |f| %>

  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.hidden_field :postal_code, :value => @order.postal_code %>
  <%= f.hidden_field :address, :value => @order.address %>
  <%= f.hidden_field :name, :value =>  @order.name %>
  <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
  <%= f.hidden_field :total_payment, :value => @total_price %>
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= f.hidden_field :status, :value => "waiting_deposit" %>

  <%= f.submit '注文を確定する' ,class: "btn btn-success" %>

  <% end %>
</main>
