<main>
  <h3>注文履歴一覧</h3>

  <% @orders.each do |order| %>
    <p>注文日</p>
    <%= order.created_at %>

    <p>配送先</p>
    <%= order.address %>

    <p>注文商品</p>
    <% @cart_items.each do |cart_item| %>
      <%= cart_item.item.name %>
    <% end %>

    <p>支払金額</p>
    <%= order.total_payment %>

    <p>ステータス</p>
    <%= order.status_i18n %>

    <p>注文詳細</p>
    <%= link_to "表示する", order_path(order) %>

  <% end %>

  <p></p>
</main>