<main>
  <h2>注文情報入力</h2>
  <%= form_with model: @order,url: confirm_path , method: :post do |f| %>

    <P>支払方法</P>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

    <p>お届け先</p>

    <%= f.radio_button :select_address, 0 %>
    <%= f.label :select_address, "ご自身の住所" %>
    <%= current_customer.postal_code %>
    <%= current_customer.address %>
    <%= current_customer.last_name %><%= current_customer.first_name %></br>

    <%= f.radio_button :select_address, 1 %>
    <%= f.label :select_address, "登録済み住所から選択" %>
    <%#:select_address => flag, #23 :select_address -> :address_id%>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :display_address) %></br>

    <%= f.radio_button :select_address, 2 %>
    <%= f.label :select_address, "新しいお届け先" %>
    <p>郵便番号</p>
    <%= f.text_field :postal_code %>
    <p>住所</p>
    <%= f.text_field :address %>
    <p>宛名</p>
    <%= f.text_field :name %>

    <%= f.submit "確認画面に進む" %>
  <% end %>

</main>
