<main>
  <h2 class="mb-4">注文履歴詳細</h2>
  <h3 class="mb-4">注文情報</h3>

  <dl class="row">
    <dt class="col-2"><p>注文日</p></dt>
    <dd class="col-10"><%= @order.updated_at %></dd>

    <dt class="col-2"><p>配送先</p></dt>
    <dd class="col-10"><%= @order.address %></dd>

    <dt class="col-2"><p>支払方法</p></dt>
    <dd class="col-10"><%= @order.payment_method_i18n %></dd>

    <dt class="col-2"><p>ステータス</p></dt>
    <dd class="col-10"><%= @order.status_i18n %></dd>
  </dl>

  <h3 class="mb-4">請求情報</h3>
  <dl class="row">
    <dt class="col-2"><p>商品合計</p></dt>
    <dd class="col-10"><%= @order.total_payment %></dd>

    <dt class="col-2"><p>配送先</p></dt>
    <dd class="col-10"><p>800</p></dd>

    <dt class="col-2"><p>ご請求額</p></dt>
    <dd class="col-10"><%= @order.total_payment + 800 %></dd>
  </dl>

  <h3 class="mb-4">注文内容</h3>
  <div class="d-flex justify-content-between w-100">
    <table class="table w-60 table table-bordered">
      <thead class="table-secondary">
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
        <tr>
          <th><%= order_detail.item.name %></th>
          <th><%= (order_detail.price * 1.1).floor %></th>
          <th><%= order_detail.amount %></th>
          <th><%= (order_detail.price * 1.1).floor * order_detail.amount %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</main>
