<main>
  <h2>注文履歴詳細</h2>

  <h3>注文情報</h3>
  <p>注文日</p>
  <%= @order.updated_at %>

  <p>配送先</p>
  <%= @order.address %>

  <p>支払方法</p>
  <%= @order.payment_method_i18n %>

  <p>ステータス</p>
  <%= @order.status_i18n %>

  <h3>請求情報</h3>
  <p>商品合計</p>
  <%= @order.total_payment %>

  <p>配送料</p>
  <p>800</p>

  <p>ご請求額</p>
  <%= @order.total_payment + 800 %>

  <h3>注文内容</h3>


  <div class="d-flex justify-content-between w-100">
    <table class="table w-60 table table-bordered">
      <thead class="table-secondary">
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
        <tr>
          <th><%= order_detail.item.name %></th>
          <th><%= order_detail.price %></th>
          <th><%= order_detail.amount %></th>
          <th><%= order_detail.price*order_detail.amount %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</main>
