<main>
  <h2 class="mb-4">商品一覧</h2>

  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="mr-auto">
          <div>
            <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_profile_image(200,200) %>
            <% end %>
          </div>

          <div>
            <%= link_to item_path(item.id) do %>
            <%= item.name %>
            <% end %>
          </div>

          <div>
            ¥<%= item.price %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

 <%= paginate @items %>
 <%#= ページネイト8つにしたい %>

</main>