<main>
  <%= image_tag @item.get_profile_image(200,200),class: "mb-4" %>

  <%= form_with model: @cart_item, url: cart_items_path  do |f| %>

  <dl class="row">
    <dt class="col-2"><p>商品名</p></dt>
    <dd class="col-10"><%= @item.name %></dd>

    <dt class="col-2"><p>商品説明</p></dt>
    <dd class="col-10"><%= @item.introduction %></dd>

    <dt class="col-2"><p>税抜価格</p></dt>
    <dd class="col-10"><%= @item.price %></dd>

    <dt class="col-2"><p>個数選択</p></dt>
    <dd class="col-10">
      <%= f.select :amount,*[1..10] %>
    <%#=文字を入れたい%>
      <%= f.hidden_field :item_id, value:@item.id %>
      <%= f.submit 'カートに入れる' ,class: "btn btn-success"%>
    </dd>

  </dl>
  <% end %>

</main>
